@font-face {
  font-family: "Kumbh Sans";
  src: url("@/assets/KumbhSans-VariableFont_wght.ttf") format("truetype supports variations"),
    url("@/assets/KumbhSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 1000;
}

:root {
  --bg-color: #efefef;
  //--bg-color: #101113;
  //--app-bg-color: #f5f5f5;
  //--app-bg-color: white;
  --app-border-color: #101113;
  --text-color: #020202;

  --hover-color: #d9d9d9;
  --border-color: #7f398f;
  --active-color: #d9ab38;

  --theme-switch-time: 0.5s;

  --color: #8c6b16;
  --color2: #4cd4a5;
  --color: #d9ab38;
  --color: #d1d1d1;

  --circle-border: #333;
  --circle-fill: #eee;
  --circle-text-border: #333;
  --circle-caption-border: red;

  --edge-color: #333;

  --rectangle-border: #333;
  --rectangle-fill: #eee;
  --rectangle-text-border: #333;
  --rectangle-caption-border: red;

  --power3-in: cubic-bezier(0.52, 0, 0.74, 0);
  --power3-out: cubic-bezier(0.26, 1, 0.48, 1);
  --power3-in-out: cubic-bezier(0.76, 0, 0.24, 1);

}

html.dark {
  --bg-color: #cfcfcf;
  //--app-bg-color: #101113;
  --bg-color: #101113;
  --app-border-color: #cfcfcf;
  --text-color: #d1d1d1;

  --hover-color: #282c30;

}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  transition: color var(--theme-switch-time), background-color var(--theme-switch-time);
  line-height: 1.6;
  font-family: "Kumbh Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--app-bg-color);

  color: var(--text-color);
}

#app {
  max-width: 1920px;
  font-weight: normal;
}

a {
  color: inherit;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  outline: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  transition: color var(--theme-switch-time), background-color var(--theme-switch-time);
}